
#=====================================
# VzBoT-VZ.52 Hardware Config
#=====================================

# kinematics: limited_corexy
# Tripple Z
# AWD
# MW LSR-350-24
# MW LSR-350-48
# RPi 4B
# Fly Super∞ Pro HV MCU
# Fly DP5 Expansion
# FLY ERCF Easy BRD V1.1
# SABRENT 4 Port USB 3.0 Hub Individual LED Lit Power Switches
# TMC 5160 Pro drivers X X1 Y Y1
# TMC 2209 drives Z Z1 Z2 E
# Limit Switches xy
# RPi Camera
# 12v LED Light Bars 3
# 5v LED Status Bar
# CPAP Parts Cooler
# CPAP Flap Air Controler
# RSCS Fans
# Vz-HextrudORT Extruder
# Trianglelab CHC Pro & CHC XL hotends + Micro Swiss CM2 nozzles 
# VaLVnAtOr V2 Air Duct
# Tronxy stepper motors 1.8° 24v 1.68A (Z Axis)
# LDO 42STH48-2504AC 1.8° 42v 2.5A (XY Axis)
# Tr8x2 Leadscrews 
# 8mm 330 330 Bed Plate
# 120v NTC 100K 3950 Thermistor 750w Silicone Bed Heater 
# No Enclosure
# BeaconH
# Spoolman
# Tadrack 11 Lanes
# Custom Filament Dry Box
# 12v 24v Electric Ceramic Thermostatic PTC Heating Element
# Stepper Flip Nozzle Wipe
# Smart FilGuard Filament Detector
# Magneto Filament Cutter

#=====================================
# VzBot-VZ.52 Klipper Config 
#=====================================

# --- Include ---
[include VzBot_VZ.52/*.cfg]

# --- Kinamatics ---
[printer]
kinematics: limited_corexy
max_velocity: 1000
max_accel: 40000
#max_accel_to_decel: 60000
max_x_accel: 31400
max_y_accel: 17200
scale_xy_accel: false
max_z_velocity: 10
max_z_accel: 50

# --- MCUs ---
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_30000D001051333039343533-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu tr]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6625495535D9539-if00

[mcu dp]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_4A0029000657464234373220-if00

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4632766382687787,
#*# 	  1.7506410444485152,
#*# 	  0.6754937649053909,
#*# 	  0.4563464500249153,
#*# 	  0.7253051654313238,
#*# 	  0.3246428346543497,
#*# 	  -0.5835017860503714,
#*# 	  -0.30476277268121904,
#*# 	  0.3203045661490105,
#*# 	  0.1746337852543212
#*# model_domain = 1.799190784747727e-07,1.919408636624447e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 45.706764
#*# model_offset = 0.00000
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.0057424902063388196
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction vz_skew_profile]
#*# xy_skew = -0.0057424902063388196
#*# xz_skew = 0.0022010288569457677
#*# yz_skew = -0.0024151482621689495
