
#=====================================
# VZ-Bot Vz.52 Auto Z configuration
#=====================================

# --- Z-tilt ---
[z_tilt]
z_positions:
#    0, 160
#    320, 160
    0, 0
    165, 300
    320, 0
points:
#    0, 140
#    305, 140
    20, 10
    165, 255
    300, 10
speed: 300
horizontal_move_z: 5
retries: 20
retry_tolerance: 0.005

[gcode_macro RESET_Z_OFFSET_CALIBRATION]
gcode:
    SET_GCODE_OFFSET Z=0.0
      