
[belay my_belay]
extruder_type: trad_rack
sensor_pin: ^PA8
multiplier_high: 1.04
multiplier_low: 0.96
debug_level: 0

# Make sure sync_to_extruder is set to True in the [trad_rack] section

[gcode_macro BELAY_MULTIPLIERS]
description: Dropdown adjusting My Belay Multipliers
gcode:
    {% set high = params.HIGH|float if params.HIGH else 1.0 %}
    {% set low = params.LOW|float if params.LOW else 1.0 %}
    {% set name = "my_belay" %}
    BELAY_SET_MULTIPLIER BELAY={name} HIGH={high} LOW={low}

# BELAY_MULTIPLIERS=my_belay HIGH=1.04 LOW=.96
# QUERY_BELAY BELAY=my_belay
