

#########################################
# Beacon Calibration Macro
#########################################

[gcode_macro VZ_BEACON_CALIBATE]
gcode:
    {% set bedtemp = 70 %}
   {% set extruder = 150 %}
    M190 S{bedtemp} 
    M109 S{extruder}
    TEMPERATURE_WAIT SENSOR="temperature_sensor bed_saturation" MINIMUM={bedtemp * 0.8}
    CG28 # Home if required
    Z_TILT_SCAN  
    CLEAN_NOZZLE
    G28 z 
    BEACON_CALIBRATE

########################################
# PID Macros
########################################

[gcode_macro PID_HOTEND]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=260

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=70

[gcode_macro PID_DRY_BOX]
gcode:
  PID_CALIBRATE HEATER=dry_box TARGET=60

[gcode_macro PID_Calibrate_dropdown]
description: PID extruder heater_bed dry_box
gcode:
    {% set heater = params.HEATER|string %}
    {% set target = params.TARGET|int %}
    PID_CALIBRATE HEATER={heater} TARGET={target}
    
    