
#=====================================
# VZ-Bot Vz.52 CPAP Flapper
#=====================================

# --- SET_PART_FAN_START Z=0.45 SPEED=0.6
# --- PART_FAN_OFF

# --- CPAP Stepper ---
[manual_stepper flap_stepper]
step_pin: dp:PA1
dir_pin: dp:PA0
enable_pin: !dp:PA2
microsteps: 16
rotation_distance: 1150
velocity: 4000
accel: 85000
homing_speed: 40
endstop_pin: dp:PB3
position_endstop: 0

# --- CPAP TMC ---
[tmc2209 manual_stepper flap_stepper]
interpolate: false 
uart_pin: dp:PC3
run_current: 0.63
hold_current: 0.4
sense_resistor: 0.110

# ---	Print Cooler Fan - FAN9 Connector ---
[fan]
pin: PD15

# --- Control Exhaust Fan - dp fan1 ---
[fan_generic control_exhaust_fan]
pin: dp:PC9
max_power: 1
cycle_time: 0.002
kick_start_time: 0.5
hardware_pwm: false
shutdown_speed: 0

# --- Exhaust Fan---
[fan_generic exhaust_fan]
pin: PF8
max_power: 1
cycle_time: 0.002
kick_start_time: 0.5
hardware_pwm: false
shutdown_speed: 0

# --- Stores start Z + speed. ---
[gcode_macro SET_PART_FAN_START]
variable_start_z: 9999
variable_fan_speed: 0.6
variable_fan_enabled: 0
gcode:
    {% set z = params.Z|float %}
    {% set speed = params.SPEED|default(0.6)|float %}

    SET_GCODE_VARIABLE MACRO=SET_PART_FAN_START VARIABLE=start_z VALUE={z}
    SET_GCODE_VARIABLE MACRO=SET_PART_FAN_START VARIABLE=fan_speed VALUE={speed}
    SET_GCODE_VARIABLE MACRO=SET_PART_FAN_START VARIABLE=fan_enabled VALUE=0

    RESPOND TYPE=command MSG="Cooling scheduled: Z>={z}, speed={speed}"

# --- Executes once per layer --- 
[gcode_macro CHECK_PART_FAN]
gcode:
    {% set start_z = printer["gcode_macro SET_PART_FAN_START"].start_z|float %}
    {% set fan_speed = printer["gcode_macro SET_PART_FAN_START"].fan_speed|float %}
    {% set fan_enabled = printer["gcode_macro SET_PART_FAN_START"].fan_enabled|int %}
    {% set current_z = printer["gcode_macro _km_layer_run"].cur_height|float %}

    # Only run activation logic if fan has not yet been enabled
    {% if fan_enabled == 0 %}
        {% if current_z >= start_z %}
            # Turn ON turbine power (MOSFET)
            SET_FAN_SPEED FAN=control_exhaust_fan SPEED=1

            # Set blower PWM speed
            SET_FAN_SPEED FAN=exhaust_fan SPEED={fan_speed}

            # Mark cooling as enabled — ensures this block runs only once
            SET_GCODE_VARIABLE MACRO=SET_PART_FAN_START VARIABLE=fan_enabled VALUE=1

            RESPOND TYPE=command MSG="Cooling activated at Z={current_z} speed={fan_speed}"
        {% endif %}
    {% endif %}

# --- Disable Exhaust Fan --- 
[gcode_macro PART_FAN_OFF]
gcode:
    SET_FAN_SPEED FAN=control_exhaust_fan SPEED=0
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0

# --- Enable CPAP Flapper ---
[gcode_macro SET_FLAP_ENABLED]
variable_enabled: 0
gcode:
    {% set enabled=params.ENABLED|int %}
	{% set flap_enabled=printer["gcode_macro SET_FLAP_ENABLED"].enabled|int %}
	{% if enabled!=flap_enabled %}
		SET_GCODE_VARIABLE MACRO=SET_FLAP_ENABLED VARIABLE=enabled VALUE={enabled}
		{% if enabled==1 %}
			MANUAL_STEPPER STEPPER=flap_stepper ENABLE=1
			MANUAL_STEPPER STEPPER=flap_stepper MOVE=-255 STOP_ON_ENDSTOP=1 SPEED=30
			MANUAL_STEPPER STEPPER=flap_stepper SET_POSITION=0
		{% else %}
			MANUAL_STEPPER STEPPER=flap_stepper MOVE=0
			MANUAL_STEPPER STEPPER=flap_stepper ENABLE=0
		{% endif %}
	{% endif %}

# --- Recreate M106 ---
[gcode_macro M106]
rename_existing: M106.1
gcode:
    {% if params.P is defined %}
        {% if params.P|int == 3 %}
            {% if params.S is defined %}
                {% if params.S|int == 255 %}
                    {% set realspeed = 1 %}
                {% else %}
                    {% if params.S|int == 0 %}
                        {% set realspeed = 0 %}
                    {% else %}
                        {% set realspeed = params.S|float/255 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% set realspeed = 1 %}
            {% endif %}
            SET_FAN_SPEED FAN=exhaust_fan SPEED={realspeed}
		{% elif params.P|int == 1 %}
			SET_FLAP_ENABLED ENABLED=1
			{% if params.S is defined %}
				MANUAL_STEPPER STEPPER=flap_stepper MOVE={params.S} SYNC=0
			{% else %}
				MANUAL_STEPPER STEPPER=flap_stepper MOVE=255 SYNC=0
			{% endif %}
		{% else %}
			M106.1 {rawparams}
        {% endif %}
    {% else %}
		SET_FLAP_ENABLED ENABLED=1
        {% if params.S is defined %}
          MANUAL_STEPPER STEPPER=flap_stepper MOVE={params.S} SYNC=0
        {% else %}
          MANUAL_STEPPER STEPPER=flap_stepper MOVE=255 SYNC=0
        {% endif %}
    {% endif %}

# --- Recreate M107 ---
[gcode_macro M107]
rename_existing: M107.1
gcode:
    {% if params.P is defined %}
		{% if params.P|int == 3 %}
			SET_FAN_SPEED FAN=exhaust_fan SPEED=0
		{% elif params.P|int == 2 %}
			M107.1 {rawparams}
		{% elif params.P|int == 1 %}
			MANUAL_STEPPER STEPPER=flap_stepper MOVE=0 SYNC=0
		{% endif %}      
    {% else %}
      SET_FAN_SPEED FAN=exhaust_fan SPEED=0
	  MANUAL_STEPPER STEPPER=flap_stepper MOVE=0 SYNC=0
	  SET_FLAP_ENABLED ENABLED=0
      M107.1 {rawparams}
    {% endif %}
