
#=====================================
# VZ-Bot Vz.52 CPAP Flapper
#=====================================

# --- CPAP Stepper ---
[manual_stepper flap_stepper]
step_pin: dp:PA1
dir_pin: dp:PA0
enable_pin: !dp:PA2
microsteps: 16
rotation_distance: 1150
velocity: 4000
accel: 85000
homing_speed: 40
endstop_pin: dp:PB3
position_endstop: 0

# --- CPAP TMC ---
[tmc2209 manual_stepper flap_stepper]
interpolate: false 
uart_pin: dp:PC3
run_current: 0.63
hold_current: 0.4
sense_resistor: 0.110

# --- Enable CPAP Flapper ---
# --- Enable CPAP Flapper ---
[gcode_macro SET_FLAP_ENABLED]
variable_enabled: 0
gcode:
    {% set enabled=params.ENABLED|int %}
	{% set flap_enabled=printer["gcode_macro SET_FLAP_ENABLED"].enabled|int %}
	{% if enabled!=flap_enabled %}
		SET_GCODE_VARIABLE MACRO=SET_FLAP_ENABLED VARIABLE=enabled VALUE={enabled}
		{% if enabled==1 %}
			MANUAL_STEPPER STEPPER=flap_stepper ENABLE=1
			MANUAL_STEPPER STEPPER=flap_stepper MOVE=-255 STOP_ON_ENDSTOP=1 SPEED=30
			MANUAL_STEPPER STEPPER=flap_stepper SET_POSITION=0
		{% else %}
			MANUAL_STEPPER STEPPER=flap_stepper MOVE=0
			MANUAL_STEPPER STEPPER=flap_stepper ENABLE=0
		{% endif %}
	{% endif %}
