
#====================================
# VZ-Bot Vz.52 Delays
#====================================

# --- System Delays ---
[delayed_gcode DISABLEFILAMENTSENSOR]   
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=0
    VZ_READY
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=15
    SET_FAN_SPEED FAN=db_circulation_fans SPEED=.5
    SET_PIN PIN=LEDFront value=100

# --- Button Delay ---
[delayed_gcode SELECT_BUTTON]
gcode:
    YES_FILAMENT_UNLOAD

# --- Filament Sensors Delay ---
[gcode_macro DELAY_FILAMENT_SENSORS]   
gcode:
    G4 P4000
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=1

# --- Remake G4 ---
[gcode_macro G4]
rename_existing: G4.1
gcode:
  {% set SEC = params.S|default(0)|int %}
  {% set MILI = params.P|default(0)|int %}
  {% if 'P' in params %}
    G4.1 P{MILI}
  {% elif 'S' in params %}
    {% set F = 1000*SEC %}
    G4.1 P{F}
  {% endif %}

