


########################################
# Verify Heater
########################################

[verify_heater dry_box]
max_error: 350
check_gain_time: 480
hysteresis: 5
heating_gain: 1

################################
# Dry Box Heater
################################

[heater_generic dry_box]
gcode_id: DBH
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin: PB1
heater_pin: PB7
max_power: 1
sensor_type: Generic 3950
pullup_resistor: 4700
sensor_pin: PC0
#smooth_time:
#control: watermark
control: pid
pid_Kp: 66.513
pid_Ki: 0.509
pid_Kd: 2174.982
#pwm_cycle_time: 0.0166
#max_delta: 1.0
min_temp: -100
max_temp: 70
#   See the "extruder" section for the definition of the above
#   parameters.

[gcode_macro SET_DRY_BOX_TEMPERATURE]
gcode:
   {% set target = params.S|default(0)|float %}

     # Both to heat, low-power heater to maintain temp
     SET_HEATER_TEMPERATURE HEATER=dry_box TARGET={target}
     TEMPERATURE_WAIT SENSOR="temperature_sensor dry_box" MINIMUM={target}

[gcode_macro DRY_FILAMENT]
description: Dry filament for specific amount of time
gcode:

  {% set MINS = params.MINS|default(180)|int %}
  {% set target = params.S|default(60)|float %}

  {% for i in range(0, MINS) %}
      {% set remaining = MINS - i %}

#      M400   #Wait for current moves to finish
      M117 Mins Remaining={remaining}
      SET_HEATER_TEMPERATURE HEATER=dry_box TARGET={target}
      G4 P60000 # Wait one min
  {% endfor %}
  M117 Turning Off Dry Box Heater...
  HEATERS_OFF
  