
#=====================================
# VZ-Bot Vz.52 Fan Cofigurations
#=====================================

# --- TMC Driver Fans - FAN6 Connector ---
[controller_fan tmc_driver_fans]
stepper: stepper_x
pin: PB10
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

# --- Drybox Heaters Fan - FAN2 Connector ---
[heater_fan drybox_heater_fan]
pin: PA2 
max_power: 1
shutdown_speed: 0
heater: dry_box
heater_temp: 27 # fan will turn off below this level

# --- Drybox Cirolation - Fans FAN5 Connector ---
[fan_generic db_circulation_fans]
pin: PB11
hardware_pwm: false
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
