
#=====================================
# VZ-Bot Vz.52 Fan Cofigurations
#=====================================

# ---	Print Cooler Fan - FAN9 Connector ---
[fan]
pin: PD15
hardware_pwm: false
max_power: 1
shutdown_speed: 0

# --- Flap Control Fan - gpio26 ---
[fan_generic exhaust_fan]
pin: PF8
max_power: 1
cycle_time: 0.002
kick_start_time: 0.5
hardware_pwm: false
shutdown_speed: 0

# --- TMC Driver Fans - FAN6 Connector ---
[controller_fan tmc_driver_fans]
stepper: stepper_x
pin: PB10
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

# --- Drybox Heaters Fan - FAN2 Connector ---
[heater_fan drybox_heater_fan]
pin: PA2 
max_power: 1
shutdown_speed: 0
heater: dry_box
heater_temp: 27 # fan will turn off below this level

# --- Drybox Cirolation - Fans FAN5 Connector ---
[fan_generic db_circulation_fans]
pin: PB11
hardware_pwm: false
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

#	--- Hotend Fan - FAN0 Connector ---
[heater_fan hotend_fan]
pin: PA0
max_power: 1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed = 1
#tachometer_pin: ^PD6
#tachometer_poll_interval: 0.0002

#  --- RSCS Fans - FAN1 Connector ---
[fan_generic RSCS]
pin: PA1
hardware_pwm: false
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

# --- Confirgure RSCS Fans Startup ---
[gcode_macro SET_RSCS_FAN_AT_LAYER_30]
description: Schedule RSCS fan to turn on at layer 30 if total >= 30
gcode:
  {% set total = printer.print_stats.info.total_layer | int %}
  {% if total >= 30 %}
    GCODE_AT_LAYER LAYER=30 COMMAND="SET_FAN_SPEED FAN=RSCS SPEED=0.5"
  {% else %}
    M117 Skipping RSCS fans running, print only has {total} layers...
  {% endif %}
  
