
#============================================
# VZ-Bot Vz.52 Filament Confirurations
#============================================

# --- Filament sensor plugging configuration ---
[filament_motion_sensor Plugging_detection]
extruder: extruder
detection_length: 14 #This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
switch_pin: ^!PG10 #IO0
pause_on_runout: False
#event_delay: 3.5
#pause_delay: 0.5
runout_gcode:
        {% if (printer.print_stats.state == "printing" and printer.toolhead.position.x < 320 and printer.toolhead.position.y > 5) %}
                PAUSE
        {% endif %}
        M117 Plug Detected

# --- Filament sensor break-off configuration ---
[filament_switch_sensor Break-off_detection]
pause_on_runout: False
switch_pin: ^!PG12 #IO2
runout_gcode:
        {% if (printer.print_stats.state == "printing" and printer.toolhead.position.x < 320 and printer.toolhead.position.y > 5) %}
                PAUSE
        {% endif %}
        M117 Lack of material

# --- Configurating to Unload/Not Unload Filament ---
[gcode_button UNLOAD_FILAMENT]
pin: ^!PG11 #IO1
release_gcode: UNLOAD_FILAMENT
press_gcode:

[gcode_macro BUTTON_UNLOAD_FILAMENT]
gcode:
    RESPOND TYPE=command MSG="action:prompt_begin Unload filament after print"
    RESPOND TYPE=command MSG="action:prompt_text Do you want to unload the filament?"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    RESPOND TYPE=command MSG="action:prompt_button Yes|YES_FILAMENT_UNLOAD|primary"
    RESPOND TYPE=command MSG="action:prompt_button No|NO_FILAMENT_UNLOAD|secondary"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"

#    UPDATE_DELAYED_GCODE ID=SELECT_BUTTON DURATION=10

# --- Unload filament??? ---
[gcode_macro YES_FILAMENT_UNLOAD]
description: Yes gcode for unload button
gcode:
    RESPOND TYPE=command MSG=action:prompt_end

    M117 Heaters off...
    TURN_OFF_HEATERS
    M117 Fans off...
    M107 ; turn off fan
    SET_FAN_SPEED FAN=RSCS SPEED=0.0

    M117 Start macro filament unload...
    TR_UNLOAD_TOOLHEAD 
    
    PARKING_POSITION
    
    RESTORE_GCODE_STATE NAME=END_state               

    SET_GCODE_OFFSET Z=0 

    VZ_STOP_PRINT

    CLEAR_PAUSE  

    M117 End macro filament unload...  

# --- Don't Unload filament??? ---
[gcode_macro NO_FILAMENT_UNLOAD]
description: No gcode for unload button
gcode:
    RESPOND TYPE=command MSG=action:prompt_end

    SET_GCODE_VARIABLE MACRO=TR_Variables VARIABLE=saved_pos VALUE={True}

    M117 Start macro keep filament loaded...

    M117 Heaters off...
    TURN_OFF_HEATERS
    M117 Fans off...
    M107 ; turn off fan
    SET_FAN_SPEED FAN=RSCS SPEED=0.0

    {% if printer.toolhead.position.z|float + 50 >= printer.configfile.config["stepper_z"]["position_max"]|float %}
        G90                  
        G1 Z{printer.configfile.config["stepper_z"]["position_max"]|float} F1000 
    {% else %}

        G91                 
        G1 Z25 F600         
    {% endif %}

    {% if ('x' in printer.toolhead.homed_axes) and ('y' in printer.toolhead.homed_axes) %}
        # Go to XY parking position
        G90 
        G1 X5 Y300 F24000
    {% endif %}
    
    CLEAN_NOZZLE_RETRACT
    
    RESTORE_GCODE_STATE NAME=END_state               

    SET_GCODE_OFFSET Z=0 

    VZ_STOP_PRINT

    CLEAR_PAUSE        

    M117 End macro keep filament loaded... 

# --- Filament Tip Cutting ---
[gcode_macro Cut_Tip]
description: Prepares for and performs a filament cut
gcode:
    {% if not 'toolhead' in printer %}
        RESPOND MSG="Toolhead not available. Cannot cut filament."
        RETURN
    {% endif %}

    # Define your cut parameters here
    {% set cut_x = 320 %}  # Adjust this X coordinate
    {% set cut_y = 20 %}  # Adjust this Y coordinate
    {% set cut_y_final = 5.75 %}  # Adjust this Y coordinate
    {% set speed  = params.SPEED|default(500)|int %}
    {% set cutting_speed  = params.CUTTING_SPEED|default(5)|int %}
    {% set retract_length = 28 %} # Retraction length before cutting. Adjust as needed.
    {% set finial_retract = 25 %} # Finial retraction
    
    SAVE_GCODE_STATE NAME=Cut_Tip_STATE

    # Retract filament to prepare for the cut
    G91 ; Use relative positioning
    G1 E-{retract_length} F5000

    # Move the toolhead to the cutting location
    G90 ; Use absolute positioning
    G0 X{cut_x} Y{cut_y} F{speed*25}

    G90
    G0 X{cut_x} Y{cut_y_final} F{cutting_speed*60} # Press the lever
    G0 X{cut_x} Y{cut_y} F{speed*60} # Move back

    G91 ; Use relative positioning
    G1 E-{finial_retract} F5000

    RESTORE_GCODE_STATE NAME=Cut_Tip_STATE MOVE=0

# --- Unloading filament ---
[gcode_macro UNLOAD_FILAMENT]
gcode:
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=0

    Cut_Tip

# --- Retration ---
[gcode_macro safe_retract]
gcode:
    {% if printer.extruder.can_extrude %}
        G10
    {% endif %}

[gcode_macro safe_unretract]
gcode:
    {% if printer.extruder.can_extrude %}
        G11
    {% endif %}
    