
#=====================================
# VZ-Bot Vz.52 Fan Cofigurations
#=====================================

#	--- Hotend Fan - FAN0 & IO3 ---
[heater_fan hotend_fan]
pin: PA0
max_power: 1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1
tachometer_pin: ^PD6 
tachometer_poll_interval: 0.0002

