
######################################
 # Accelermeter
######################################

[resonance_tester]
#method: vibrations
#method: sweeping_vibrations
accel_chip: beacon
max_freq: 133.3
accel_per_hz: 100
probe_points: 165, 150, 5

#######################################
# Input Shapper
#######################################

[input_shaper]
shaper_freq_x: 103.2
shaper_type_x: mzv
damping_ratio_x: 0.022

shaper_freq_y: 76.4
shaper_type_y: mzv  
damping_ratio_y: 0.037
