

##############################################
# VZ-Bot Vz.52 LED
##############################################

##############################################
# Bed LEDs
##############################################

[output_pin LEDFront]
# LED Lights FAN8 Connector
pin: PD14
pwm: true 
value: 0
shutdown_value:0
cycle_time: 0.010
scale: 100

[output_pin LEDRight]
# LED Lights FAN7 Connector
pin: PD12
pwm: true 
value: 0
shutdown_value:0
cycle_time: 0.010
scale: 100

[output_pin LEDLeft]
# LED Lights FAN6 Connector
pin: PA15
pwm: true 
value: 0
shutdown_value:0
cycle_time: 0.010
scale: 100

##############################################
# Status LEDs
##############################################

[output_pin PrinterIdle]
# Power On Lights FAN3 Connector
pin: PA3
pwm: false
value: 1
shutdown_value:1
#	gcode command: SET_PIN PIN=LED value=0 to 1
#   SET_PIN PIN=PrinterIdle VALUE=.1

[neopixel vzbot_neopixel]
pin: PC13
chain_count: 10
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
color_order: GRBW

[gcode_macro VZ_STATUS_LED]
gcode:
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=1 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=2 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=3 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=4 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=5 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=6 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=7 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=8 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=9 TRANSMIT=0
    SET_LED LED=vzbot_neopixel GREEN={params.G} RED={params.R} BLUE={params.B} INDEX=10

[gcode_macro VZ_LED_on]
gcode:
#	SET_PIN PIN=LEDFront value=100
    SET_PIN PIN=LEDRight value=100
    SET_PIN PIN=LEDLeft value=100

[gcode_macro VZ_LED_off]
gcode:
#	SET_PIN PIN=LEDFront value=0
    SET_PIN PIN=LEDRight value=0
    SET_PIN PIN=LEDLeft value=0

[gcode_macro VZ_READY]
gcode:
    VZ_STATUS_LED R=0.0 G=0.2 B=0.0 W=0.0

[gcode_macro VZ_PRINT_LOADED]
gcode:
    VZ_STATUS_LED R=0.1 G=0.09 B=0.0 W=0.0

[gcode_macro VZ_HOMING]
gcode:
    VZ_STATUS_LED R=0.0 G=0.075 B=0.102 W=0.0

[gcode_macro VZ_PREHEATING]
gcode:
    VZ_STATUS_LED R=0.0 G=0.0 B=0.2 W=0.0

[gcode_macro VZ_CALIBRATING]
gcode:
    VZ_STATUS_LED R=0.48 G=0 B=0.48 W=0.0

[gcode_macro VZ_PRINTING]
gcode:
    VZ_STATUS_LED R=0.09 G=0.016 B=0.0 W=0.0

[gcode_macro VZ_PAUSED]
gcode:
    VZ_STATUS_LED R=1 G=0.569 B=0.0 W=0.0

[gcode_macro VZ_CANCELLED]
gcode:
    VZ_STATUS_LED R=0.2 G=0.0 B=0.0 W=0.0

[gcode_macro PrinterIdle_on]
gcode:
    VZ_STATUS_LED R=0.0 G=0.0 B=0.0 W=0.0
