######################################
# VZ-Bot Vz.52 Print Macros
######################################

######################################
# Start print
######################################

[gcode_macro VZ_START_PRINT]
variable_value: 0

gcode:
    M117 Starting print job...
    SET_GCODE_VARIABLE MACRO=VZ_START_PRINT VARIABLE=value VALUE=1

    CLEAR_PAUSE
    VZ_PRINT_LOADED # LED change color

    {% if not printer["gcode_macro _TOOLCHANGE_TRACKER"] is defined %}
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGE_TRACKER VARIABLE=total_toolchanges VALUE=0
        {action_respond_info("Toolchange tracker auto-initialized to 0")}
    {% endif %}

    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}
    
    M117 Preparing for printing...

    M117 Preheating...
    M190 S70
    M109 S150

    VZ_HOMING # LED change color
    M117 Homing...
    CG28
    
    M117 Calibrating
    VZ_CALIBRATING # LED change color
    BED_CALIBRATION

    M117 Calibrations Completed!!!

    M117 Preheating bed...
    VZ_PREHEATING # LED change color
    M190 S{bedtemp}
    M117 Waiting for bed to be saturated....
    TEMPERATURE_WAIT SENSOR="temperature_sensor bed_saturation" MINIMUM={bedtemp * 0.8}
    M117 Bed preheated!!!

    M117 Preheating hotend...
    VZ_PREHEATING # LED change color
    M109 S{hotendtemp}
    M117 Hotend Preheated!!!

    {% set saved_pos = printer["gcode_macro TR_Variables"].saved_pos %}
    SKEW_PROFILE LOAD=vz_skew_profile

#    _TOOLCHANGE_TRACKER

    VZ_LED_on # Bed LEDs On             
    VZ_Printing # LED change color

    SET_VELOCITY_LIMIT ACCEL=35000

######################################
# Print finished
######################################

[gcode_macro VZ_FINISH_PRINT]
gcode:
    M117 Print ending...
    {% if printer.toolhead.position.z|float + 50 >= printer.configfile.config["stepper_z"]["position_max"]|float %}
        G90                  
        G1 Z{printer.configfile.config["stepper_z"]["position_max"]|float} F600 
    {% else %}

        G91                 
        G1 Z50 F600         
    {% endif %}

#    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=265
    SAVE_GCODE_STATE NAME=END_state
#    _SET_TIMELAPSE_SETUP ENABLE=False 

    BUTTON_UNLOAD_FILAMENT 

    M117 PRINT JOB COMPLETED!!!(

######################################
# Stop print
######################################

[gcode_macro VZ_STOP_PRINT]
gcode:
    M400 ; wait for buffer to clear
    SET_SKEW CLEAR=1
    SET_GCODE_VARIABLE MACRO=VZ_START_PRINT VARIABLE=value VALUE=0
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=0
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} 
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=15
    SDCARD_RESET_FILE
    _RESET_LAYER_GCODE
    SET_FLAP_ENABLED ENABLED=0
    G4 S60
    VZ_LED_off
    VZ_READY

