
#=====================================
# VZ-Bot Vz.52 RSCS Fan Cofigurations
#=====================================

#  --- RSCS Fans - FAN1 Connector ---
[fan_generic RSCS]
pin: PA1
hardware_pwm: false
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

# --- Confirgure RSCS Fans Startup ---
[gcode_macro SET_RSCS_FAN_AT_LAYER_30]
description: Schedule RSCS fan to turn on at layer 30 if total >= 30
gcode:
  {% set total = printer.print_stats.info.total_layer | int %}
  {% if total >= 30 %}
    GCODE_AT_LAYER LAYER=30 COMMAND="SET_FAN_SPEED FAN=RSCS SPEED=0.5"
  {% else %}
    M117 Skipping RSCS fans running, print only has {total} layers...
  {% endif %}
  