 
#########################################################################
# Stepper & Z&E TMC2209 X&Y 5160 configuration Fly DP5 TradRack steppers
#########################################################################

######################################
# Z Steppers
######################################

##  Z0 Stepper - Front Left ##

[stepper_z]     # M0
step_pin: PE2  
dir_pin: PC5
enable_pin: !PF11
microsteps: 32
rotation_distance: 2
#endstop_pin: PG10
#position_endstop: 8.15
position_max: 350
position_min: -10.0
full_steps_per_rotation: 200
#homing_retract_dist: 2.0
homing_positive_dir: false 
homing_speed: 15
second_homing_speed: 5
step_pulse_duration: 0.000000001
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

[tmc2209 stepper_z]
interpolate: false
uart_pin: PC4
run_current: 1
#hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center ##

[stepper_z1]    # M1
step_pin: PE3  
dir_pin: PF13
enable_pin: !PF14
microsteps: 32
rotation_distance: 2
full_steps_per_rotation: 200
step_pulse_duration: 0.000000001

[tmc2209 stepper_z1]
interpolate: false
uart_pin: PF12
run_current: 1
#hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right ##

[stepper_z2]    # M2
step_pin: PE4 
dir_pin: PG0
enable_pin: !PG1
microsteps: 32
rotation_distance: 2
full_steps_per_rotation: 200
step_pulse_duration: 0.000000001

[tmc2209 stepper_z2]
interpolate: false
uart_pin: PF15
run_current: 1
#hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

######################################
# X/Y Steppers
######################################

## x ##
[stepper_x]    # M3
step_pin: PE14
dir_pin: !PE8
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 
endstop_pin: PD7 #IO4
position_endstop: 0
position_min: 0
position_max: 332
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: false

[tmc5160 stepper_x] 
#spi_bus: spi3
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
cs_pin: PE7
interpolate: false
run_current: 1.5
sense_resistor: 0.033
driver_TBL: 1
driver_TOFF: 5
driver_HSTRT: 4
driver_HEND: 0
driver_DISS2G: 1
driver_DISS2VS: 1

## y ##
[stepper_y]      # M4
step_pin: PE15
dir_pin: !PE11
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: !PG9 #IO3
position_endstop: 0
position_min: 0
position_max: 315
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: false

[tmc5160 stepper_y] 
#spi_bus: spi3 
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
cs_pin: PE10
interpolate: false
run_current: 1.5
sense_resistor: 0.033
driver_TBL: 1
driver_TOFF: 5
driver_HSTRT: 4
driver_HEND: 0
driver_DISS2G: 1
driver_DISS2VS: 1

## x1 ##
[stepper_x1]     # M5
step_pin: PE1
dir_pin: !PF0
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_x1] 
#spi_bus: spi3
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
cs_pin: PF1
interpolate: false
run_current: 1.5
sense_resistor: 0.033
driver_TBL: 1
driver_TOFF: 5
driver_HSTRT: 4
driver_HEND: 0
driver_DISS2G: 1
driver_DISS2VS: 1

## y1 ##
[stepper_y1]    # M6
step_pin: PE0
dir_pin: !PG3
enable_pin: !PG4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_y1] 
#spi_bus: spi3
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
cs_pin: PG2
interpolate: false
run_current: 1.5
sense_resistor: 0.033
driver_TBL: 1
driver_TOFF: 5
driver_HSTRT: 4
driver_HEND: 0
driver_DISS2G: 1
driver_DISS2VS: 1

######################################
# Extruder
######################################

[extruder]   # M7
step_pin: PE6
dir_pin: PG6
enable_pin: !PG7
microsteps: 16
rotation_distance: 4.41305865
nozzle_diameter: 0.4
#nozzle_diameter: 0.6
filament_diameter: 1.750

heater_pin: PB0 # Heat0
sensor_type: PT1000
#sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5 # ADC_1

control: pid
pid_Kp = 21.844
pid_Ki = 2.275
pid_Kd = 52.426

min_temp: 0
max_temp:320
full_steps_per_rotation: 200
max_extrude_only_distance: 1000
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 10000
min_extrude_temp: 150
#pressure_advance: 0.02
#pressure_advance_smooth_time: 0.02

[tmc2209 extruder]
interpolate: false
uart_pin: PG5
run_current: 0.8
sense_resistor: 0.110

[verify_heater extruder]
max_error: 245
hysteresis: 10
check_gain_time: 140
heating_gain: 1

##################################################
 # Stepper Macros
##################################################

[gcode_macro ENABLE_STEPPERS_XY]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=1

[gcode_macro ENABLE_STEPPER_Z]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1
