

######################################
# VZ-Bot Vz.52 Test Macros
######################################

######################################
# Test z axes
######################################

[gcode_macro TEST_Z_DOWN]
gcode:
    {% set amount  = params.amount|default(1)|int %}
    TESTZ Z=-{amount}

[gcode_macro TEST_Z_UP]
gcode:
    {% set amount  = params.amount|default(1)|int %}
    TESTZ Z=+{amount}

[gcode_macro TEST_Z_BISECT_UP]
gcode:
    TESTZ Z=+

[gcode_macro TEST_Z_BISECT_DOWN]
gcode:
    TESTZ Z=-

