
#==========================================================
# VZ-Bot Vz.52 Tracking Tool Changes Multi-Color Prints
#==========================================================

# --- Detects Tool Changes from Orca ---
[gcode_macro _TOOLCHANGE_TRACKER]
description: Tracks total tool changes detected from Orca
variable_total_toolchanges: 0
gcode:
    {% set total = printer["gcode_macro _TOOLCHANGE_TRACKER"].total_toolchanges|int %}
    {action_respond_info("Total tool changes reported: " ~ total)}

# --- Shows Tool Changes from Orca ---
[gcode_macro SHOW_TOOLCHANGES]
description: Shows the number of tool changes
gcode:
    {% set tracker = printer["gcode_macro _TOOLCHANGE_TRACKER"] %}
    {% set count = tracker.total_toolchanges|default(0)|int %}
    M117 Toolchange count = {count}
