
[gcode_macro TR_Variables]
description: Variables for use with Trad Rack pre unload and post load gcode
variable_z_lift:        0.1     # distance to lift z axis before toolchange
variable_x_park:        0.0     # x position to park before unloading
variable_y_park:        175.0   # y position to park before unloading
variable_do_x_park:     False   # whether to park x before unloading
variable_do_y_park:     False   # whether to park y before unloading
variable_travel_speed:  300     # how fast travel speeds will be performed
variable_shape_tip:     False   # whether to add tip-shaping gcode on unload during printing
                                # (set to False if you are using ramming from the slicer)
variable_take_frame:    False   # whether to take a timelapse frame after each toolchange
                                # requires: https://github.com/mainsail-crew/moonraker-timelapse
                                # (use "layermacro" mode)
variable_use_wiper:     False   # intended for the Annex K3 printer and requires
                                # Go_To_Purge_Location and Wipe_Nozzle gcode
                                # macros. Makes the toolchange occur over the
                                # purge bucket and wipes the nozzle before
                                # resuming the print. Variables relating to
                                # parking will be ignored if this is set to True
# don't change any of the variables below this line
variable_x:             0
variable_y:             0
variable_z:             0
variable_saved_pos:     False
variable_z_park:        0
gcode:

[gcode_macro Sync_TR_to_Extruder]
gcode:
    TR_SYNC_TO_EXTRUDER

[gcode_macro UnSync_TR_to_Extruder]
gcode:
    TR_UNSYNC_FROM_EXTRUDER

[gcode_macro Home_Tradrack]
gcode:
    TR_HOME

[gcode_macro Move_Servo_Down]
gcode:
    TR_SERVO_DOWN

[gcode_macro Move_Servo_Up]
gcode:
    TR_SERVO_UP

[gcode_macro Assign_TR_Lane]
description: Dropdown for grouping TR lanes
gcode:
    {% set lane = params.LANE|int %}
    {% set tool = params.TOOL|int %}
    {% set default = params.SET_DEFAULT|int %}
    TR_ASSIGN_LANE LANE={lane} TOOL={tool} SET_DEFAULT={default}

[gcode_macro Reset_TR_Map]
description: macro to expose TR reset tool map
gcode:
  TR_RESET_TOOL_MAP

[gcode_macro Print_TR_Map]
description: macro to expose TR print tool map
gcode:
  TR_PRINT_TOOL_MAP

[gcode_macro Print_TR_Group]
description: macro to expose TR print tool group
gcode:
  TR_PRINT_TOOL_GROUPS

