
[trad_rack]

#=====================================
# VzBot VZ.52 Load/Unload gcodes
#=====================================

# --- Load ---
[trad_rack]

# --- Load ---
pre_load_gcode:
    M117 Loading filament!!!!!
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=0
    
post_load_gcode:
    SAVE_PRESSURE_ADVANCE
    M83
    M220 S100
    SET_PRESSURE_ADVANCE ADVANCE=0
    CLEAN_NOZZLE_RETRACT
    RESTORE_PRESSURE_ADVANCE

    # Per-filament tuning
    SET_PRESSURE_ADVANCE ADVANCE=0.014 SMOOTH_TIME=0.02
    SET_RETRACTION RETRACT_LENGTH=0.5 RETRACT_SPEED=40 UNRETRACT_EXTRA_LENGTH=0 UNRETRACT_SPEED=25

    # ── Smart purge (long extrusion) BEFORE sensors come back online ──
    #PURGE_TO_TOOL
    PURGE_LINE

    # ── NOW it’s safe to re-enable sensors (purge is finished) ──
    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=1
    SET_FLAP_ENABLED ENABLED=1
    
# --- Unload ---
pre_unload_gcode:
    SAVE_GCODE_STATE NAME=PRE_UNLOAD_state
    
    # --- Cutting Filament for Unloading ---
    SAVE_PRESSURE_ADVANCE

    SET_FILAMENT_SENSOR SENSOR=Plugging_detection ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=Break-off_detection ENABLE=0
    M83
    M220 S100
    SET_PRESSURE_ADVANCE ADVANCE=0

    M117 Unloading filament...
    M117 Cutting filament...
    Cut_Tip
    M117 Filament cut...

    RESTORE_PRESSURE_ADVANCE

    RESTORE_GCODE_STATE NAME=PRE_UNLOAD_state

post_unload_gcode:
    SAVE_GCODE_STATE NAME=PROST_UNLOAD_state
    
    M117 Filament unloaded... 
    
    M117 Clearing Spool ID
    clear_active_spool
    M117 Spool ID cleared

    # --- Stops Timelapse ---
#    TIMELAPSE_OFF
#    M117 Timelapse Disabled

    RESTORE_GCODE_STATE NAME=PROST_UNLOAD_state

# --- Pressure Advance ---
[gcode_macro Save_Pressure_Advance]
# call this in your print start gcode after setting PA for the print
# (only necessary if the slicer inserts ramming gcode that sets PA to 0)
description: Save the current pressure advance value
# don't change any of the variables below this line
variable_pa: -1
gcode:
    # save PA if it is not 0
    {% set pa = printer.extruder.pressure_advance %}
    {% if pa > 0 %}
        SET_GCODE_VARIABLE MACRO=Save_Pressure_Advance VARIABLE=pa VALUE={pa}
    {% endif %}

[gcode_macro Restore_Pressure_Advance]
description: Restore saved pressure advance value
gcode:
    # restore PA if a previous value was saved
    {% if not (printer["gcode_macro Save_Pressure_Advance"].pa == -1) %}
        SET_PRESSURE_ADVANCE ADVANCE={printer["gcode_macro Save_Pressure_Advance"].pa}
    {% endif %}
