
#=====================================
# VzBoT-VZ.52 General Macros
#=====================================

# --- Turn Off Heaters/Steepers ---
[gcode_macro HEATERS_OFF]
gcode:
    TURN_OFF_HEATERS

[gcode_macro MOTORS_OFF]
gcode:
  M84

# --- Host Macros ---
[gcode_macro SHUTDOWN]
gcode:
	{action_call_remote_method("shutdown_machine")}  

[gcode_macro REBOOT]
gcode:
   {action_call_remote_method("reboot_machine")}

# --- Dust Bed ---
[gcode_macro DUST_BED]
gcode:
    M117 Dusting bed surface!!!
    
    CG28    # Home if required

    M117 Started dusting...
    KDUST

    PARKING_POSITION

# --- Set Toolhead Park Location ---
[gcode_macro PARK]
gcode:
  PARKING_POSITION_1
  
[gcode_macro PARKING_POSITION]
gcode:
    
    {% if printer.toolhead.position.z|float + 50 >= printer.configfile.config["stepper_z"]["position_max"]|float %}
        G90                  
        G1 Z{printer.configfile.config["stepper_z"]["position_max"]|float} F1000 
    {% else %}

        G91                 
        G1 Z50 F600         
    {% endif %}

    G4 P1000
    CLEAN_NOZZLE

    {% if ('x' in printer.toolhead.homed_axes) and ('y' in printer.toolhead.homed_axes) %}
        # Go to XY parking position
        G90 
        G1 X5 Y300 F24000
    {% endif %}

    M117 Tool Head Parked
    M84
    M117 Motors off...
    M400
    G4 P1000

[gcode_macro PARKING_POSITION_1]
gcode:
    
    {% if printer.toolhead.position.z|float + 50 >= printer.configfile.config["stepper_z"]["position_max"]|float %}
        G90                  
        G1 Z{printer.configfile.config["stepper_z"]["position_max"]|float} F1000 
    {% else %}

        G91                 
        G1 Z50 F600         
    {% endif %}

    {% if ('x' in printer.toolhead.homed_axes) and ('y' in printer.toolhead.homed_axes) %}
        # Go to XY parking position
        G90 
        G1 X5 Y300 F24000
    {% endif %}

    M117 Tool Head Parked
    M84
    M117 Motors off...
    M400
    G4 P1000

#=============================================
# M - Macros
#=============================================

# --- Recreate M117 ---
[gcode_macro M117]
rename_existing: M117.1
gcode:
  {% if rawparams %}
    {% set escaped_msg = rawparams.split(';', 1)[0].split('\x23', 1)[0]|replace('"', '\\"') %}
    SET_DISPLAY_TEXT MSG="{escaped_msg}"
    RESPOND TYPE=command MSG="{escaped_msg}"
  {% else %}
    SET_DISPLAY_TEXT
  {% endif %}


# --- Recreate M1190 ---
[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

# --- Recreate M1486 ---
[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}


